/* Class used to style my header */
.header_intro {
    padding: 70px;
    text-align: center; 
    background-color: blanchedalmond;
    color: burlywood;
}

/* universal selector */
* {
    text-align: center;
    margin: auto;
    padding: auto;
    height: auto;
    width: auto;
    font-family: shadows;
}

/* ID selector for form -- changes font color */
#form {
    font-size: medium;
    color: rgba(250, 103, 6, 0.98)
}

/* Adds some color and padding to all h3 */
h3 {
    font-family: shadows;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    background-color: cornsilk;
    color: darkslategray;
    text-decoration: underline;
}

/* Add margins to p */
p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 50px;
}

/* Colors and pads the first p after a h3. */
h3 + p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(255, 250, 240);
    font-size: 2.5ex;
    margin: 15px;
}

/* Colors all h4 siblings of h3 */
h3 ~ h4 {
    background-color:rgba(255, 245, 238, 0.678);
    padding: 25px;
    line-height: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
}

figcaption {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2.5ex;
}

/* Child selector for h3 headers inside divs */
div > h3 {
    background-color: hsl(50, 100%, 78%);
    text-decoration: underline;
}

div p {
    color: rgb(16, 0, 34);
}

p.green{
    color: rgb(17, 143, 80)
}

/* Adds some color to my linkedin and email plug */
.side_note{
    padding: 10px 10px 10px 10px;
    background-color:#FFFBBB;
    color: #D7A;
}

/* Makes words in italic a purple-blue color*/
i {
    color: hsla(256, 100%, 45%, 0.99);
}

/* Makes words in bold a pink color*/
b {
    color: rgb(250, 106, 148);
}

s[target=_strike]{
    color: #921
}

/* Aligns the lists */
ul, li {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 20px;
    list-style-position: inside;
    display: sticky;
    position: relative;
}

/* Edit positioning of table */
table {
    display: inline-block;
}

/* Edit positioning of form */
form {
    text-align: start;
}

/* Fixed sizing of my pictures */
picture {
    min-width: 15%;
    max-width: 15%;
    min-height: 25%;
    max-height: 25%;
    padding: 50px 50px 50px 50px;
}

/* Adds a border, padding, and color to all sections */
section {
    border-style: dotted;
    border-width: medium;
    border-color: olivedrab;
    border-radius: 17px;
    display: block;
    background-color: peachpuff;
    display: static;
    position: sticky;
    margin: auto;
    padding: auto;
}

/* Adds a pseudo-class selector for links that changes it's color when hovered over */
a:hover {
    background-color: rgb(255, 145, 0);
    color: ivory;
}
a:active{
    background-color: hsl(54, 100%, 67%);
    color: dimgray;
}

/* Added ShadowsIntoLight Font */
@font-face {
    font-family: shadows;
    src: url(../fonts/ShadowsIntoLight-Regular.ttf)
}